/* **** mahboobeh salmani **** */

.NavItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}


.NavItem a {
    width: 100px;
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    text-align: center;
    
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a:active{
    background-color: #333;
    border-bottom: 4px solid #212121;
}

/* Mobile Styles */
@media only screen and (max-width: 400px){
    .NavItem {
        margin: 10px 0;
        box-sizing: border-box;
        display: block;
        width: 100%;
    }
    
    
    .NavItem a {
        color: black;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;
        border-bottom: 0 solid transparent;
        text-align: right;
    }
    
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a:active{
        color: #7a0000;
        background-color: white;
        border-bottom: 0px solid white;
    }
}